<section>
  <div class="container">
    <% @participants.each do |participant| %>

    <div>
      <%= link_to "#{participant.name}", participant_path(participant) %>
    </div>

    <% end %>

    <%= link_to "Add participant", new_participant_path %>
  </div>
</section>
